<footer class="footer">
  <p class="footer__license text-caption">{{ 'footer.license' | transloco }}</p>
  <nav class="footer__links">
    <a
      class="footer__docs text-caption"
      [routerLink]="['/', language.lang(), 'markdown-language', 'docs']"
    >
      {{ 'footer.docs' | transloco }}
    </a>
    <a class="footer__privacy text-caption" [routerLink]="['/', language.lang(), 'privacy']">
      {{ 'footer.privacy' | transloco }}
    </a>
    @if (consent.configured) {
      <button type="button" class="footer__cookies text-caption" (click)="consent.openPreferences()">
        {{ 'footer.cookies' | transloco }}
      </button>
    }
    <a class="footer__source text-caption" [href]="sourceUrl" rel="noopener">
      {{ 'footer.sourceCode' | transloco }}
    </a>
  </nav>
</footer>
